/******************************************************************************
START grid layout extra credit
******************************************************************************/

* {
	box-sizing: border-box;
  }
  .grid1 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	padding-top: 2em;
	padding-bottom: 2em;
	background-color: azure;
  }
  
  .grid1 h1 {
	grid-column: 1/3;
	text-align: center;
	font-size: 20px;
  }
  
  .grid2 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-column: 2/11;
	grid-row: 2;
	background-color: orange;
  }
  .grid2 h2 {
	grid-column: 3/5;
	grid-row: auto;
	text-align: center;
	font-size: 20px;
  }
  .grid3 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-column: 7/13;
	background-color: brown;
  }
  
  .grid3 h3 {
	grid-column: 2/5;
	text-align: center;
	font-size: 20px;
  }
  
  .grid4 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-column: 4/11;
	grid-row: 3;
	background-color: aquamarine;
  }
  
  .grid4 h2 {
	grid-column: 2/4;
	grid-row: 2;
	text-align: center;
	font-size: 20px;
  }
  
  section {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-column: 2/9;
	grid-row: 4;
	background-color: bisque;
  }
  
  section h2 {
	grid-column: 1/3;
	text-align: center;
	font-size: 20px;
  }
  
  form {
	grid-column: 2/7;
	background-color: yellow;
  }
  
  
  legend {
	grid-column: 2/5;
	font-size: 20px;
	font-style: bold;
	font-weight: 700;
  }

  fieldset {
	grid-column: 2/7;
	grid-template-columns: 1fr 5fr;
  }
  
  fieldset > div {
	display: grid;
	grid-gap: 1rem;
	padding: 2em;
  }
  
  label {
	font-size: 20px;
	grid-column: 1;
	text-align: right;
  }
  
  input {
	grid-column: 2;
	width: 100%;
	text-align: left;
	font-size: 10px;
  }
  
  button {
	grid-column: 2;
	font-size: 20px;
	column-span: all;
	width: 100%;
  }
  
  section > div {
	grid-column: 2/7;
	margin: auto;
	width: 100%;
  }